#menur{
    margin-right: 10px;
}
#menue{
    position: absolute;
    margin-left: 300px;
}
#menue ul{
     list-style: none;
     text-transform: uppercase;
     position: absolute;
     top:-20px;
     left:400px;
}
#menue li{
     display: inline-block;
     padding: 10px;
     margin: 20px;
     right: 400px;
}